.flex-row, flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col, flex-col {
  display: flex;
  flex-direction: column;
}

.flex-grow, flex-grow {
  flex-grow: 1;
}

.flex-gap, flex-gap {
  min-width: 1em;
  min-height: 1em;
}
