.p-row, p-row {
  display: flex;
  flex-direction: row;
}

.p-col, p-col {
  display: flex;
  flex-direction: column;
}

.p-grow, p-grow {
  flex-grow: 1;
}

.p-grow, p-grow {
  min-width: 1em;
  min-height: 1em;
}
